.header {
  padding-top: 50px;
  width: 100%;
  height: 200px;
  background-color: #e9eef6;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0 30px;
  --width: 100%;
  display: flex;
  gap: 30px;
}

.recipe {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: calc((var(--width) / 3) - 30px);
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.recipe-name {
  text-align: center;
}
.recipe-descr {
  width: 100%;
}